/*homepage*/
/* don't think any of the media queries are working yet.*/
html {
    font-size: 16pt;
    margin: 0;
}

body {
    margin: 0;
}

div {
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

div.heading-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: auto;
    
}

div.left, 
div.right, 
div.image {
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.left, 
.right {
    flex-shrink: 2;
    flex-grow: 1;
    
}

.image {
    flex-shrink: 3;
    flex-grow: 2;
}

.navbar {
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    color: #472a82;
    margin: auto;
}

.navbar ul {
    display: inline-flex;
}

.navbar ul li {
    display: inline-flex;
    padding-left: 0.75em;
    padding-right: 0.75em;
    box-sizing: border-box;
    color: #472a82;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #472a82;
}

.button#aboutus,
.button#trips,
.button#photos,
.button#whatsnext {
    background: transparent;
    border-color: transparent;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    
}

.button#aboutus:hover,
.button#trips:hover,
.button#photos:hover,
.button#whatsnext:hover {
    background: linear-gradient(135deg, rgba(157, 217, 245, .75), rgba(71, 42, 130, .75));
    border-color: white;
}

#aboutus a, 
#trips a, 
#photos a, 
#whatsnext a {
    transition: color 0.3s ease-in-out;
    line-height: 2.5em;
}

#aboutus a:hover, 
#trips a:hover, 
#photos a:hover, 
#whatsnext a:hover {
    color: white;
}

@media only screen and (max-width: 480px) {
    .left, 
    .right {
        display: flex;
        flex-direction: column;
    }

    #aboutus a,
    #trips a,
    #photos a,
    #whatsnext a {
        display: flex;
        flex-direction: column;
        font-size: 0.6em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        line-height: 1em;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    div.image-container {
        height: auto;
        width: 100%;
    }
}

li a img {
    height: 4rem;
    margin: 0;
    
}

div.image-container {
    background-image: url("../usedresources/P1122682.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30em;
    width: 100%;
    margin-bottom: 1em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} 

div.name {
    display: flex;
    height: auto;
    text-align: start;
    width: 35%;
    justify-content: center;
    
    
}

div.tagline {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 50%;
    
}

.name h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0;
    padding: 0.1rem;
    text-shadow: 0.05em 0.05em 0.05em #472a82;
    text-align: center;
    
    
}

.tagline p {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    margin: 0 0;
    padding: 0;
    width: auto;
    display: inline;
}

mark {
    background: rgba(71, 42, 130, 0.90);
    color: white;
    padding-left: 0.1em;
    padding-right: 0.1em;
}


/*adding the same padding to the right side of top line, left side of the second. span?*/


/*relive*/
div.past-trip {
    display: flex;
    align-items: center;
    flex-shrink: 1;

}

.trip-section {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    background: rgba(71, 42, 130, 0.90);
    border-radius: 0.65em;
    flex-wrap: wrap;
    height: auto;
    width: 45%;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.35rem;
    text-align: center;
    margin: auto;
    
}

.trip-section a {
    color: white;
    text-decoration: none;
    transition: color 150ms ease-in;
    font-family: "Poppins", sans-serif;
    font-size: 1.125em;
}

.trip-section a:hover {
    color: rgba(255, 251, 143, .9);
}


.relive {
    display: flex;
    justify-content: space-evenly;
}

#sedona,
#wdw2017,
#dl2019,
#austin {
    display: flex;
    width: 20%;
    height: 20%;
    box-sizing: border-box;
    padding-top: 1em;

}

#sedona img,
#wdw2017 img,
#dl2019 img,
#austin img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    flex-shrink: 1;
}

#austin p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    background: rgba(150, 185, 255, 0.90);
    margin-top: 0em;
    border-radius: 1em;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.35rem;
    text-align: center;
}

#wdw2017 p {
    background: rgba(150, 255, 187, 0.9);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 0em;
    border-radius: 1em;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.35rem;
    text-align: center;
}
#sedona p {
    background: rgba(255, 154, 77, 0.9);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 0em;
    border-radius: 1em;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.35rem;
    text-align: center;

}

#dl2019 p {
    background: rgba(255, 150, 203, 0.9);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 0em;
    border-radius: 1em;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.35rem;
    text-align: center;
}

#sedona a,
#wdw2017 a,
#dl2019 a,
#austin a {
    text-decoration: none;
    transition: all 0.3s; 
}

#sedona p:hover,
#wdw2017 p:hover,
#dl2019 p:hover,
#austin p:hover {
    color: rgba(71, 42, 130, .9);

}

/*when hovering over the image, color overlay?*/


@media only screen and (max-width: 480px) {
    /*the relive section should display as a column on mobile.*/
    div.past-trip {
        display: block;
    }

    .trip-section{
        font-size: 0.75em;
        width: 80%;
        }

    #sedona p,
    #wdw2017 p,
    #dl2019 p,
    #austin p {
        font-size: 0.60rem;
        font-weight: 700;
        flex-direction: column; 

    }

    .tagline p {
        font-size: 1.5rem;
    }

    .relive {
        flex-direction: column;
    }

    #sedona,
    #wdw2017,
    #dl2019,
    #austin {
        margin: auto;
        width: 250px;
    
    } 
    
    #sedona img,
    #wdw2017 img,
    #dl2019 img,
    #austin img {
        width: 250px;
    }
}


/*footer section*/
.footer {
    background-color: #c7c5c5;
    margin-top: 0.5em;
    display: flex;
    
}

.socials h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.65rem;
    color: #472a82;
    padding-left: 2%;

}
.socials {
    width: 35%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2%;
}

.socials a img {
    width: 2em;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    flex-wrap: wrap;
    
}

.footer-nav {
    width: 65%;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    color: #472a82;
    margin: auto;
    justify-content: space-evenly;
    box-sizing: border-box;

}

.footer-nav ul {
        display: inline-flex;
        justify-content: space-between;
        box-sizing: border-box;
        
}

.footer-nav li.button {
    border-radius: 0.6rem;
    box-sizing: border-box;
    color: #472a82;
    transition-duration: all 1s ease-in;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border: 3px solid transparent;
    
}

.footer-nav li a {
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: #472a82;
}


.footer-nav li.button:hover {
    border-color: rgba(71, 42, 130, .9);
    border-style: solid;
    border-width: 3px;
} 

/*copyright stuff*/
.copyright {
    color: white;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    position: relative; 
    text-align: center;
    background-color: #c7c5c5;
    
}

/*i don't think this stuff is quite working yet.*/
@media only screen and (max-width: 480px) {
    .socials a img {
        display: block;
        margin: 18%;
    }

    .socials {
        padding: 2%;
        display: block;
    }

    .socials h3 {
        display: block;
        text-align: center;
        margin-bottom: 18%;
    }

    .footer-nav ul {
        display: flex;
        flex-direction: column;
        width: 65%;
        float: right;
    }

    .footer-nav ul li {
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .footer-nav a {
        font-size: 0.6em;
    }

    .footer {
        width: 100%;

    }

}


/*about us*/
#about {
    background: linear-gradient(rgba(255, 251, 143, .9),rgba(255, 154, 77, 0.9), rgba(255, 150, 203, 0.9));
    box-shadow: 0px 0px 2em rgba(255, 251, 143, 1);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;

}

.aboutus span{
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: rgb(94, 110, 140);
}

#about p {
    color: rgb(94, 110, 140);
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
}

#about a {
    text-decoration: none;
    color: rgb(94, 110, 140);
    transition: all 100ms ease-in-out;
}

#about a:hover {
    color: rgb(164, 165, 166);
    text-decoration: underline;
}

.about-image {
    display: flex;
    box-sizing: border-box;
    padding: 2em;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

.upnorth  {
    width: 60%;
    height: auto;

}

.starwars {
    width: 60%;
    height: auto;

    
}

.arizona {
    width: 100%;
    height: auto;

}

.dl {
    width: 60%;
    height: auto;

}


@media only screen and (max-width: 480px) {
    .upnorth  {
        width: 100%;
        height: auto;
    
    }
    
    .starwars {
        width: 100%;
        height: auto;
    
        
    }
    
    .arizona {
        width: 100%;
        height: auto;
    
    }
    
    .dl {
        width: 100%;
        height: auto;
    
    }
}

/*get in touch*/
.main-container {
    background-image: url('../usedresources/DSC00171.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    flex-shrink: 2;
    
}
.go-ahead {
    display: flex;
    height: 20rem;
    
}

#get-in-touch span {
    background: rgba(255, 251, 143, .9);
    color: #472a82;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.1em;
    display: flex;
    position: relative;
    top: 95%;
  
}

.container {
    margin-top: 3em;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;
    
}

.promise {
    background: rgba(255, 150, 203, 0.9);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    box-sizing: border-box;
    display: flex;
    width: 30%;
    height: auto;
    text-align: center;
    align-content: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    
}

.promise p {
    padding: 1rem;
    
}

.email {
    background: rgba(150, 255, 187, 0.9);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    box-sizing: border-box;
    display: flex;
    width: 35%;
    height: auto;
    text-align: center;
    align-content: center;
    flex-direction: column;
    border-radius: 3rem;
    
}

.email p {
    padding: 1rem;
}

.email a {
    color: white;
    text-decoration: none;
    flex-wrap: wrap;

}

.email a:hover {
    color: rgba(59, 150, 143);

}
    
.social-media {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    background: rgba(150, 185, 255, 0.90);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
    align-items: center;
    
}

.social-media p {
    padding: 1rem;
    height: auto;
}

#bluebox {
    width: 90%;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: wrap;
    
}

#bluebox a {
    margin: 5%;
}


@media only screen and (max-width: 480px) {
    .promise, 
    .email, 
    .social-media {
        display: block;
        width: 90%;
        margin: 2%;
    }

    #bluebox {
        display: flex;
        flex-direction: row;
        width: 90%;
        flex-flow: wrap
    }
}

/*photos*/
.photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: auto;
    margin: auto;
    background: linear-gradient(15deg, #472a82, rgb(150, 255, 187));
    justify-content: center;
    align-content: center;
    
}

.photo-title h3 {
    width: 100%;
    color: rgb(94, 110, 140);
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    text-align: center;
    
}

@media only screen and (max-width: 480px) {
    .photo-title h3 {
        font-size: 1em;
    }
}

/*why is there a little sliver between the image and the border?*/
.photo-container a img {
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    width: 10em;
    height: auto;
    margin: 1.25em;
    border-radius: 1.5em;
    border-color: white;
    border-width: 0.25em;
    border-style: solid;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.8);
    text-align:center; 

}


.photo-container .lightbox img {
    border-radius: 0;
    width: 50%;
    height: auto;
    margin: auto;


}

/*the scroll always moves back to the top-how do I fix that? javascript? postback?*/
.lightbox:target {
    display: block;
    outline: none;
    
}

a.lightbox:hover {
    cursor:default;
}

img:hover {
    cursor:pointer;
}



/*trips page*/
.trips-container {
    height: auto;
    display: flex;
    box-sizing: border-box;
    
}

#trips-title,
#trips-sub {
    text-align:center;
    font-family: "Poppins", sans-serif;
    color: rgb(71, 42, 130);
    
}

#trips-title {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0.3em;

}

#trips-sub {
    margin-top: 0;
}


.trip-nav ul {
    flex-direction: column;
    margin-left: 2em;
    margin-right: 3em;
}

.trip-nav ul li {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    
}

.trip-nav a {
    text-decoration: none;
    transition: all 300ms ease-in-out; 
    color: rgb(59, 150, 143);
    margin: 1%;
    
}

.trip-nav a:hover {
    color: rgb(71, 42, 130); 
}

.tripvideos {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    width: 65%;
    float: right;
    
    
}

#sedonatrip {
    background-image: url('../usedresources/image\ \(9)\.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30em;
    
}

#sedonatrip iframe {
    border: 3px solid white;
    border-radius: 1em;
    position: relative;
    top: 12em;
    right: 25%;
    
}

#austintrip {
    background-image: url('../usedresources/IMG_0434.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30em;
    margin-top: 1em;
    
}

#austintrip iframe {
    border: 3px solid white;
    border-radius: 1em;
    position: relative;
    top: 12em;
    right: 25%;
}

#wdw2017trip {
    background-image: url('../usedresources/P1122754.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30em;
    margin-top: 1em;
    
}

#wdw2017trip iframe {
    border: 3px solid white;
    border-radius: 1em;
    position: relative;
    top: 12em;
    right: 25%;
}


#dl2019trip {
    background-image: url("../usedresources/DSC00138.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30em;
    margin-top: 1em;
    
}
 
#dl2019trip iframe {
    border: 3px solid white;
    border-radius: 1em;
    position: relative;
    top: 12em;
    right: 25%;
}

@media only screen and (max-width: 480px) {
    #trips-title {
        font-size: 1em;
    }

    #trips-sub {
        font-size: 0.6em;
    }

    .trips-container {
        display: block;
    }

    .trip-nav ul {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .trip-nav ul li {
        font-size: 0.6em;
        display: block;
        margin-bottom: 0;
        width: 100%;
    }

    .trip-nav a {
        margin-left: 0;
        width: 100%;
    }
     
    .tripvideos {
        display: block;
        width: 100%;
        position: static;
        justify-items: center;
        
    }
    #sedonatrip {
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        
    }
    
    #sedonatrip iframe {
        border: 3px solid white;
        border-radius: 1em;
        position: static;
        top: 0em;
        right: 0%;
        
    }
    
    #austintrip {
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        margin-top: 1em;
        
    }
    
    #austintrip iframe {
        border: 3px solid white;
        border-radius: 1em;
        position: static;
        top: 0em;
        right: 0%;
    }
    
    #wdw2017trip {
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        margin-top: 1em;
        
    }
    
    #wdw2017trip iframe {
        border: 3px solid white;
        border-radius: 1em;
        position: static;
        top: 0em;
        right: 0%;
    }
    
    
    #dl2019trip {
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        margin-top: 1em;
        
    }
     
    #dl2019trip iframe {
        border: 3px solid white;
        border-radius: 1em;
        position: static;
        top: 0em;
        right: 0%;
        margin-bottom: 1em;
    }

    
   
    
}


/*whats next*/
.future-container {
    box-sizing: border-box;
    background: radial-gradient(rgba(150, 255, 187, 1), rgba(150, 185, 255, 1));
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.title h3 {
    font-size: 3em;
    position: relative;
    left: 1em;
}

.title p {
    width: 40%;
    text-align: right;
    position: relative;
    left: 3em;


}

.announcement {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    font-style: italic;
    font-size: 0.8rem;
    margin: auto;
    color: #ad2132;
}

.airbnb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
}

.airbnb p {
    font-size: 1.25em;
    text-align: center;
    
}

.golden {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    align-items: center;
    box-sizing: border-box;
}

.golden img {
    width: 50%;
    border-radius: 0.6em;
    position: relative; 
    left: 4em; 
    z-index: 0;
}

.golden a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    z-index: 5;
    position: relative;
    padding: 0.25em;
    right: 4em;
    display: inline;
    background-color: rgba(71, 42, 130, .75);
    border-radius: 0.6em;
    transition: color 150ms ease-in;

}

.golden a:hover {
    color: rgba(255, 251, 143, .9);

}

.canmore {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    align-items: center;
    box-sizing: border-box;
}

.canmore img {
    width: 50%;
    position: relative; 
    float: right;
    left: 9em;
    border-radius: 0.6em;
}

.canmore a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    z-index: 5;
    position: relative;
    padding: 0.25em;
    left: 9em;
    background-color: rgba(71, 42, 130, .75);
    border-radius: 0.6em;
    transition: color 150ms ease-in;

}

.canmore a:hover {
    color: rgba(255, 251, 143, .9);
}

@media only screen and (max-width: 480px) {
    .announcement {
        font-size: 0.6em;
        margin: auto;
        padding: 0;
    }

    .title {
        flex-direction: column;
    }
    .title p {
        width: 100%;
        left: 0;
        text-align: center;
        top: -3em;
    }

    .golden,
    .canmore {
        flex-direction: column;
    }

    .golden img {
        left: 0;
        width: 80%;
    }
    .canmore img {
        left: 0;
        width: 80%;
        bottom: 4em;
    }
    .golden a {
        right: 0;
        font-size: 0.75em;
        text-align: center;
        top: -2em;
    }
    .canmore a {
        left: 0;
        font-size: 0.75em;
        text-align: center;
        top: 11.5em;
    }
}
/*media queries should make the title p shoot underneath the title h3, announcement should shrink, the airbnb stuff should stack*/ 


/*landing page stuff*/
@media only screen and (max-width: 480px) {
   .color-overlay {
       height: 20em;
   }

   .landingpage-container p {
       font-size: 0.7em;
       top: 3em;
   }
   .landingpage-container h1 {
       top: 1.5em;
       font-size: 1.5em;
   }

}

